div, p, header, details, h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

header, details {
  display: block; }

.tile-container {
  box-sizing: content-box !important;
  width: 600px;
  height: 400px;
  border-top: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA; }
  .tile-container .big-tile {
    height: 400px;
    width: 400px; }

.tile {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-left: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  display: inline-block;
  float: left;
  cursor: pointer;
  text-align: left; }

.tile:hover .tile-header {
  background: #e0e0e0;
  margin: -100% 0 0 0; }

.tile-header {
  height: 100%;
  width: 100%;
  background: #ececec;
  position: relative;
  transition: margin 0.4s ease-out, cursor 0.4s ease-out;
  -webkit-transition: margin 0.4s ease-out, cursor 0.4s ease-out;
  -moz-transition: margin 0.4s ease-out, cursor 0.4s ease-out;
  -o-transition: margin 0.4s ease-out, cursor 0.4s ease-out;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  padding: 10px; }

.tile-body {
  height: 100%;
  width: 100%;
  background: #dddddd;
  position: relative;
  padding: 20px;
  box-shadow: inset 0 0 10px 0 grey;
  -moz-box-shadow: inset 0 0 10px 0 grey;
  -webkit-box-shadow: inset 0 0 10px 0 grey;
  behavior: url("/js/lib/PIE.htc");
  color: #2c2c2c; }

/* Page */
body {
  background: #fafafa;
  text-align: center; }
  body .tile-container {
    margin-left: auto;
    margin-right: auto; }

/* Content styles */
.big-tile .tile-header img {
  width: 380px;
  height: 330px; }
.big-tile .tile-header h1 {
  font-size: 30px; }
.big-tile .tile-body p {
  font-size: 14px; }

.tile-header-style {
  text-align: center; }
  .tile-header-style img {
    width: 180px;
    height: 150px; }
  .tile-header-style h1 {
    font: 18px arial;
    margin: 10px 0 0 0; }

.tile-body-style h1 {
  font: 12px arial;
  margin: 0 0 15px 0; }
.tile-body-style p {
  font: 10px arial;
  text-align: justify;
  margin: 10px 0 10px 0; }

.button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url("/js/lib/PIE.htc");
  background: #2c2c2c;
  font: bold 12px arial;
  text-align: center;
  color: f0f0f0;
  padding: 5px 0 5px 0;
  display: block;
  text-decoration: none;
  margin: 5px 0 0 0; }

.button:before {
  display: block;
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  content: " ";
  background: white;
  opacity: 0.1; }
